.b{
    height: 150px;
    width: 800px;
    background-color: aqua;
}
.c{
    height: 650px;
    width: 800px;
    background-color: bisque;
}
.d{
    height: 150px;
    width: 200px;
    background-color: brown;
    float: left;
}
.e{
    height: 150px;
    width: 400px;
    background-color: green;
    float: left;
}
.f{
    height: 150px;
    width: 200px;
    background-color: black;
    float: right;
}
.g{
    height: 75px;
    width: 200px;
    background-color: black;
}
.h{
    height:  75px;   
    background-color: gold;
    width: 200px;
}
.i{
    height: 75px;
    width: 100px;
    background-color: brown;
    float: left;
}
.j{
    height: 650px;
    width: 200px;
    background-color: black;
    float: left;
}
.k{
    height: 650px;
    width: 600px;
    background-color: blue;
    float: right;
}
.l{
    height: 500px;
    width: 200px;
    background-color: aqua;
}
.m{
    height: 150px;
    width: 100px;
    background-color: black;
    float: left;
}
.n{
    height: 150px;
    width: 100px;
    background-color: brown;
}
.o{
    height: 100px;
    width: 600px;
    background-color: bisque;
}
.p{
    height: 550px;
    width: 600px;
    background-color: blue;
}
.q{
    height:550px;
    width: 100px;
    background-color: silver;
    float: left;
}
.r{
    height: 550px;
    width: 100px;
    background-color: grey;
    float: left;
}
.s{
    height: 550px;
    width: 400px;
    background-color: blue;
    float: right;
}
.t{
    height: 400px;
    width: 100px;
    background-color: burlywood;
}
.u{
    height: 150px;
    width: 100px;
    background-color: silver;
}
.v{
    height:400px ;
    width: 50px;
    background-color: orange;
    float: left;
}
.w{
    height: 150px;
    width: 400px;
    background-color:green;
}
.x{
    height: 400px;
    width: 400px;
    background-color: blue;
    float: left;
}
.y{
    height: 400px;
    width: 150px;
    background-color: black;
    float: left;
}
.z{
    height: 400px;
    width: 100px;
    background-color: brown;
    float: left;
}
.harshu{
    height: 400px;
    width: 150px;
    background-color: aqua;
    float: right;
}
.manu{
    height: 200px;
    width: 150px;
    background-color: black;
}
.sandy{
    height: 200px;
    width: 150px;
    background-color:red;
}
.vinay{
    height: 200px;
    width: 75px;
    background-color: green;
    float: right;
}