.external{
    border: solid burlywood;
    background-color: aquamarine;
    font-size: 30px;
}
#main{
    height: 200px;
    width: 200px;
    background-color: violet;
}
span{
    color: red;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;  
}
input[type]{
    color: rgb(189, 9, 39);
}
a[href]{
    background-color: rgb(211, 124, 11);
}*/
a:link{
    color:green;
}
a:visited{
    color: maroon;
}
a:hover{
    font-size: 50px;
    color: violet;
}
a:active{
    color: aquamarine;
}